.logo {
  background: url(../images/bakerylogo_white.png) no-repeat;
  background-position: center center;
  background-size: cover;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4rem 0;
}

.page {
  height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.center,
.btn {
  text-align: center;
}

.btn {
  background-color: $orange;
  color: #fff;
  display: block;
  padding: 0.7em 0;
  font-size: 1.2rem;
  transition: all 300ms ease;
  border: 1px solid $orange;
}

a.btn {
  &:hover {
    color: $orange;
    background-color: #fff;
  }
}

a.active {
  color: $orange !important;
  border-bottom: 1px solid $orange;
}

.content {
  font-size: 1.4rem;
  font-weight: 100;
}

/* BACKGROUND COLOR CLASS*/

.bg-lightgrey {
  background-color: $lightGrey;
}

.bg-lightbrown {
  background-color: $lightBrown;
}

/* MEDIA QUERYS */

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
}
